.owl-nav button.owl-prev,
.owl-nav button.owl-next {
    font-size: 40px;       /* Bigger arrow */
    background: none;
    border: none;
    color: black;
    position: absolute;
    top: 40%;
}

.owl-nav button.owl-prev {
    left: -30px;           /* move left */
}

.owl-nav button.owl-next {
    right: -30px;          /* move right */
}
.owl-dots {
    margin-top: 20px;      /* space between carousel and dots */
}
