* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex; /* Use Flexbox for layout helps to align items horizontally */
    justify-content: space-between;/*space between logo and links*/
    align-items: center;/* Center items vertically */
    width: 100%; /* Full width helps to span the entire viewport */
    padding: 15px 40px;/* Padding for the navbar left and right */
    background-color: #333; /* Dark background for the navbar */
}

.logo{
    font-size:22px; /* Logo font size */
    font-weight: bold; /* Bold font for the logo */
}

.nav-links {
    display: flex; /* Use Flexbox for the links helps to align them horizontally */
    gap: 25px; /* Space between links */
    list-style:none; /* Remove default list styling to makes links appear inline */
}
.nav-links li{
    padding: 8px 12px; /* Padding for clickable area */
    cursor:pointer; /* Pointer cursor for links it helps to indicate that the item is clickable*/
}